name: Test-Students-CICD

on:
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Setup requirements-dev.txt
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

#      - name: Code linting
#        run: flake8 django_testing

      - name: Testing
        run: pytest --cov